## Analytic 30 Code

#### OPIM5770 | Fall 2018 | Team 4

###### This notebook contains code to generate file necessary for input to analytic 30. Designed by Team 4.

In [2]:
# Import necessary modules
import pandas as pd
import numpy as np
import os

In [6]:
# Open the LFA1 dataset to dataframe
LFA1 = pd.read_csv(r'./../../src/LFA1_AltColTitles.csv',low_memory=False)

In [8]:
# Open the LFB1 dataset to dataframe
LFB1 = pd.read_csv(r'./../../src/LFB1_AltColTitles.csv',low_memory=False)

In [9]:
# Open the T052 dataset to dataframe
T052=pd.read_csv(r'./../../src/T052_AltColTitles.csv',encoding='Latin1')

In [10]:
# Join LFA1 to LFB1
LFA1_LFB1 = pd.merge( LFA1,
                      LFB1,
                      left_on='Account_Number_of_Vendor_or_Creditor',
                      right_on='Account_Number_of_Vendor_or_Creditor',
                      how='inner'
                    )

In [11]:
# Join T052 to prior result
joinDF = pd.merge( T052,
                           LFA1_LFB1,
                           left_on='Terms_of_Payment_Key',
                           right_on='Terms_of_Payment_Key',
                           how='inner')

In [12]:
# Handle the Central Deletion Flag to avoid duplicates
joinDF = joinDF.loc[joinDF['Central_Deletion_Flag_for_Master_Record'] != 'X',:]
joinDF.head(10)

,Client,Terms_of_Payment_Key,Day_Limit,Date_Type,Calendar_Day_for_the_Baseline_Date_for_Payment,Additional_Months,Days_from_Baseline_Date_for_Payment,Cash_Discount_Percentage_Rate,Days_from_Baseline_Date_for_Payment2,Cash_Discount_Percentage_Rate2,...,Central_deletion_block_for_master_record,Client_y,Company_Code,Date_on_which_the_Record_Was_Created_y,Posting_block_for_company_code,Deletion_Flag_for_Master_Record__Company_Code_Level_,List_of_the_Payment_Methods_to_be_Considered,Block_Key_for_Payment,Payment_Terms_Key_for_Credit_Memos,Deletion_bock_for_master_record__company_code_level_
1,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,02/18/2008,NaN,NaN,D,NaN,NaN,NaN
2,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2100,03/04/2008,NaN,NaN,D,NaN,NaN,NaN
3,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2102,05/16/2012,NaN,NaN,D,NaN,NaN,NaN
4,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,11/16/2012,NaN,NaN,D,NaN,NaN,NaN
6,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2100,03/21/2008,NaN,NaN,D,NaN,NaN,NaN
9,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,04/13/2008,NaN,NaN,D,NaN,NaN,NaN
21,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,02/26/2008,NaN,NaN,D,NaN,NaN,NaN
23,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2100,04/02/2008,NaN,X,D,NaN,NaN,X
24,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,04/02/2008,NaN,NaN,D,NaN,NaN,NaN
28,40,0001,0,B,0,0,0,0.0,0,0.0,...,NaN,40,2104,03/12/2008,NaN,NaN,D,NaN,NaN,NaN

In [16]:
#Extract vendor less than 45 days as an example
lessThan45Days = joinDF[['Account_Number_of_Vendor_or_Creditor','Company_Code','Days_from_Baseline_Date_for_Payment']]
lessThan45Days = lessThan45Days[lessThan45Days['Days_from_Baseline_Date_for_Payment'] < 45]

In [17]:
# Extract Data to a CSV File
lessThan45Days.to_csv(r'./../output/A30_SampleReport.csv', index=False)